#photo-section2{
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: center;
  color: white;
}

#photo-section2 img{
  width: 300px;
  border:10px solid #707070;
}

#photo-section2 h3{
  text-align: center;
  margin: 3% 0;
  font-size: 24px;
  font-weight: bold;
}

#photo-section2 p{
  text-align: center;
  width: 90%;
  font-size: 14px;
}

@media only screen and (max-device-width: 900px) {
  #photo-section2{
    margin-top: 26px;
  } 
 
  #photo-section2 p, #photo-section2 h3{
    width: 85vw;
  }

  #photo-section2 img{
    margin-bottom: 15%;
  }

  #photo-section2 p{
    font-size: 1rem;
    color: #e1e1e1;
    margin: 5% 0;
  }
}